@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* ===== Global Mobile Tap Fix ===== */
@layer base {

    a,
    button,
    [role="button"] {
        @apply transition-all duration-200;
    }
}

/* Mobile = apply hover effect on tap */
@media (hover: none) {

    a:active,
    button:active,
    [role="button"]:active {
        background-color: #c8a45d;
        color: white;
        transition: all 0.2s ease;
    }
}