@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* ===== Global Mobile Tap Fix ===== */
@media (hover: none) {
    *:hover {
        color: inherit !important;
        background: inherit !important;
    }
}