@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* ===== Global Mobile Tap Fix ===== */
a,
button,
[role="button"] {
    -webkit-tap-highlight-color: transparent;
}

@media (hover: none) {

    a:active,
    button:active,
    [role="button"]:active {
        transform: scale(0.96);
        opacity: 0.85;
    }
}